.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  margin-bottom: 30px;
  display: block;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 696px;
}
.button-primary {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border: 0;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 32px;
}
